/***************************************************
		Reescritura de stilos de Travel Points 
***************************************************/
@font-face {
font-family: 'Nexa Book';
font-style: normal;
font-weight: normal;
src: local('Nexa Book'), url('@fuentes/NexaBold.woff') format('woff');
}

@font-face {
font-family: 'Nexa Book Italic';
font-style: normal;
font-weight: normal;
src: local('Nexa Book Italic'), url('@fuentes/NexaBookItalic.woff') format('woff');
}

@font-face {
font-family: 'Nexa Thin';
font-style: normal;
font-weight: normal;
src: local('Nexa Thin'), url('@fuentes/NexaThin.woff') format('woff');
}

@font-face {
font-family: 'Nexa Bold';
font-style: normal;
font-weight: normal;
src: local('Nexa Bold'), url('@fuentes/NexaBold.woff') format('woff');
}

@font-face {
font-family:"Myriad";
font-style:normal;
font-weight:normal;
src:url('@fuentes/MyriadPro-Cond_0.otf');
}

@font-face {
font-family: 'Myriad Bold';
font-style: normal;
font-weight: 600;
src:url('@fuentes/MyriadPro-BoldCond_0.otf');
}


@font-face {
font-family: 'Myriad Regular';
font-style: normal;
src:url('@fuentes/MyriadPro-Regular_0.otf');
}

@font-face {
font-family: 'Myriad Light';
font-style: normal;
src:url('@fuentes/MyriadPro-Light.otf');
}

