//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary:#0097CE;
$success: #61A60E;
$danger:#E11383;
$warning:#F4B223;
$morado:#A1007D;
$rosa:#E11383;
$dark:#283046;
$white:#EDEDEE;

$content-padding:1.5rem ;
// $menu-dark-bg-color:#4b4b4b;
// $theme-bg:#4b4b4b;