//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary:#0097CE;
$success: #61A60E;
$danger:#FF595A;
$warning:#F4B223;
$morado:#A1007D;
$rosa:#E11383;
$dark:#283046;

$content-padding:2rem ;
// $menu-dark-bg-color:#4b4b4b;
// $theme-bg:#4b4b4b;